{# {% extends 'layouts/default.html.twig' %} #}

{# {% block title %}Error{% endblock %} #}

{# {% block content %} #}
<div style="padding-top:50px;width:25%;margin:0 auto;text-align:center;">
    <h1>Oops!</h1>
    <div>
        {{ message|raw }}
    </div>
</div>
{# {% endblock %} #}